<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<h2>Comments</h2>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article.comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to 'Reply', new_comment_path(commentable_type: "comment", commentable: comment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "New Comment", new_comment_path(commentable_type: "article", commentable: @article), class: 'btn btn-default' %></p>
<p><%#= link_to "New Comment", new_article_comment_path(@article), class: 'btn btn-success' %></p>
